@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}
.loader{
  background-color: #292727;
     width: 100%;
    height: 100%;
    position: fixed;
    transition: all 2s;
    top: 0%;
  z-index: 10;
}
.animation{
  position: relative;
  top: 45%;
  display: flex;
  justify-content: center;
  margin-top: 75px;
  width: 100%;
}
.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
  }
  
  .circle {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 15px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  .name{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50px;
    font-size: 40px;
    justify-content: center;
    width: 100%;

  }
.M{
  color: yellow;
    font-size: 106px;
    z-index: 10;
    padding-top: 19px;
}
.zai{
  position: relative;
    overflow: hidden;
    font-size: 44px;
    top: 69px;
    width: 80px;
}
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
.image{
  position: relative;
    top: 50px;
    height: 35%;
    max-width: 93px;
    margin: auto;
}
.container{
  height: 52vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  overflow: scroll;
  overflow-x: hidden;
  transition: all 2s;
  margin-top: 0;
}
.inputs{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 18px
  }
  .right{
    position: relative;
    width: 30%;
    clear: both;
    left: 63%;
    border: 2px solid black;
    background-color: black;
    border-radius: 11px;
    padding: 12px 18px;
  }
  .left{
    width: 50%;
    position: relative;
    left: 5%;
    clear: both;
  }
  .message{
    display: flex;
    justify-content: space-evenly;
    height: 13%;
    overflow: hidden;

  }
  #text{
    border: 2px solid black;
    outline: none;
    border-radius: 15px;
    width: 79%;
    margin: 13px 15px;
    font-size: 17px;
    padding: 22px 21px;
    font-family: "Rubik", sans-serif;


  }
  #text:focus{
    border-color: white;
  }
  .btn{
    background-color: white;
    padding: 8px 11px;
    font-size: 27px;
    border-radius: 45px;
    color: black;
    cursor: pointer;
    border: 2px solid black;
    height: 46px;
  }
  .btn:hover{
    color: white;
    background-color: black;
  }
  .btn:disabled{
    background-color: gray;
    cursor:not-allowed;
    color: gray;
  }
 
  .indicator{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 19px;
    animation: animate 0.7s infinite forwards 0s;
  }
  @keyframes animate {
    0%{
      height: 20px;
      width: 20px;
    }
    100%{
      height: 23px;
    width: 23px;
    }
  }
.delete{
  border: none;
    outline: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 10%;
    right: 15px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px -1px 9px 1px red;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}
  @media screen and (max-width:600px) {
    .container{
      height: 45vh;
    margin-top: 33px;
      }
      .inputs{
        font-size: 14px;
      }
      .btn{
    font-size: 27px;
    margin-top: 13px;

      }
      #text{
        font-size: 15px;
      }
      .delete{
        font-size: 12px;
        top: 1%;
        right: 33%;
        padding: 10px;
      }
  }
  @media screen and (max-width:340px) {
  .spinner,.spinner1{
    width: 70px;
    height: 70px;
  }
  #text,.inputs{
    font-size: 13px;
  }
  .M{
    font-size: 84px;
  }
  .zai{
    font-size: 33px;
  }
  .image{
      max-width: 76px;
  }
  .delete{
    font-size: 10px;
    top: 1%;
    right: 27%;
    padding: 9px;
  }
  }